@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600&display=swap');

.features-us{
    /* height: 400px; */
    width: 100%;
    /* background-color: antiquewhite; */
    background:linear-gradient(0deg, rgba(9, 16, 10, 0.751), rgba(4, 30, 7, 0.833)),url("https://images.unsplash.com/photo-1416331108676-a22ccb276e35?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjUyfHxob3VzZXxlbnwwfHwwfHw%3D&auto=format&w=1920&q=100");
    /* background-color: transparent; */
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.features-left{
    width: 40%;
    padding: 30px;

    /* background-color: blueviolet; */
}

.features-left>img{
    width: 100%;
    object-fit: cover;
}
.features-right{
    padding: 30px;
    width: 40%;
    /* height: 100px; */
    /* background-color: rgb(101, 87, 114); */
}


.features-right>h3{
    font-size: 32px;
    margin-bottom: 15px;
    color: white;
}
.features-right>p{
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 1.6;
    color: rgb(199, 199, 199);

}