@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600&display=swap');

.navbar{
  height: 80px;
  background-color: #f5fffe;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  /* max-width: 1324px; */
  margin: 0 130px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-size: large;
  font-weight: 800;
  color: black;
}

.navButton{
  margin-left: 20px;
  padding: 10px 15px;
  cursor: pointer;
  color: #f2f2f2;
  font-weight: 600;
  font-size: large;
  border-radius: 4px;
  background-color: #07a28b;
  border: none;
  transition: bacbackground-color .3s ease-in;
}
.navButton:hover{
  /* background-color: #F2E7D5; */
  cursor: pointer;
}